fieldset[disabled] .multiselect { pointer-events: none }
.multiselect__spinner { position: absolute; right: 1px; top: 1px; width: 48px; height: 35px; background: #fff; display: block }
.multiselect__spinner:after, .multiselect__spinner:before { position: absolute; content: ""; top: 50%; left: 50%; margin: -8px 0 0 -8px; width: 16px; height: 16px; border-radius: 100%; border-color: #2fa4e7 transparent transparent; border-style: solid; border-width: 2px; box-shadow: 0 0 0 1px transparent }
.multiselect__spinner:before { animation: a 2.4s cubic-bezier(.41, .26, .2, .62); animation-iteration-count: infinite }
.multiselect__spinner:after { animation: a 2.4s cubic-bezier(.51, .09, .21, .8); animation-iteration-count: infinite }
.multiselect__loading-enter-active, .multiselect__loading-leave-active { transition: opacity .4s ease-in-out; opacity: 1 }
.multiselect__loading-enter, .multiselect__loading-leave-active { opacity: 0 }
.multiselect, .multiselect__input, .multiselect__single { font-family: inherit; font-size: 14px; -ms-touch-action: manipulation; touch-action: manipulation }
.multiselect { box-sizing: content-box; display: block; position: relative; width: 100%; min-height: 30px; text-align: left; color: #35495e }
.multiselect * { box-sizing: border-box }
.multiselect:focus { outline: none }
.multiselect--disabled { opacity: .6 }
.multiselect--active { z-index: 1 }
.font-color{color:#555;text-decoration:none;}
.font-color:hover,.font-color:focus{color:#555;text-decoration:none;cursor: default}
.multiselect--active:not(.multiselect--above) .multiselect__current, .multiselect--active:not(.multiselect--above) .multiselect__input, .multiselect--active:not(.multiselect--above) .multiselect__tags { border-bottom-left-radius: 0; border-bottom-right-radius: 0 }
.multiselect--active .multiselect__select { transform: rotate(180deg) }
.multiselect--above.multiselect--active .multiselect__current, .multiselect--above.multiselect--active .multiselect__input, .multiselect--above.multiselect--active .multiselect__tags { border-top-left-radius: 0; border-top-right-radius: 0 }
.multiselect__input, .multiselect__single { position: relative; display: inline-block; min-height: 26px; line-height: 26px; border: none; border-radius: 5px; background: #fff; padding: 0 0 0 5px; width: 100%; transition: border .1s ease; box-sizing: border-box; margin-bottom: 0px; vertical-align: top }
.multiselect__tag~.multiselect__input, .multiselect__tag~.multiselect__single { width: auto }
.multiselect__input:hover, .multiselect__single:hover { border-color: #cfcfcf }
.multiselect__input:focus, .multiselect__single:focus { border-color: #a8a8a8; outline: none }
.multiselect__single { padding-left: 6px; margin-bottom: 0px }
.multiselect__tags-wrap { display: inline }
.multiselect__tags { min-height: 30px; display: block; padding: 0px 40px 0 8px; border-radius: 5px; border: 1px solid #e8e8e8; background: #fff }
.multiselect__tag { position: relative; display: inline-block; padding: 3px 20px 4px 6px; border-radius: 3px; margin-right: 8px; color: #fff; line-height: 1; background: #2fa4e7; margin-bottom: 5px; white-space: nowrap; overflow: hidden; max-width: 100%; text-overflow: ellipsis }
.multiselect__tag-icon { cursor: pointer; margin-left: 7px; position: absolute; right: 0; top: 0; bottom: 0; font-weight: 700; font-style: normal; width: 22px; text-align: center; line-height: 22px; transition: all .2s ease; border-radius: 5px }
.multiselect__tag-icon:after { content: "\D7"; color: #266d4d; font-size: 14px }
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover { background: #369a6e }
.multiselect__tag-icon:focus:after, .multiselect__tag-icon:hover:after { color: #fff }
.multiselect__current { min-height: 30px; overflow: hidden; padding: 8px 12px 0; padding-right: 30px; white-space: nowrap; border-radius: 5px; border: 1px solid #e8e8e8 }
.multiselect__current, .multiselect__select { line-height: 16px; box-sizing: border-box; display: block; margin: 0; text-decoration: none; cursor: pointer }
.multiselect__select { position: absolute; width: 26px; height: 26px; right: 1px; top: 1px; padding: 4px; text-align: center; transition: transform .2s ease }
.multiselect__select:before { position: relative; right: 0; top: 65%; color: #999; margin-top: 4px; border-style: solid; border-width: 5px 5px 0; border-color: #999 transparent transparent; content: "" }
.multiselect__placeholder { color: #adadad; display: inline-block; margin-bottom: 10px; padding-top: 2px }
.multiselect--active .multiselect__placeholder { display: none }
.multiselect__content-wrapper { position: absolute; display: block; background: #fff; width: 100%; max-height: 240px; overflow: auto; border: 1px solid #e8e8e8; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; z-index: 1; -webkit-overflow-scrolling: touch }
.multiselect__content { list-style: none; display: inline-block; padding: 0; margin: 0; min-width: 100%; vertical-align: top }
.multiselect--above .multiselect__content-wrapper { bottom: 100%; border-bottom-left-radius: 0; border-bottom-right-radius: 0; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: none; border-top: 1px solid #e8e8e8 }
.multiselect__content::webkit-scrollbar { display: none }
.multiselect__element { display: block }
.multiselect__option { display: block; padding: 8px; min-height: 26px; line-height: 16px; text-decoration: none; text-transform: none; vertical-align: middle; position: relative; cursor: pointer; white-space: nowrap }
.multiselect__option:after { top: 0; right: 0; position: absolute; line-height: 30px; padding-right: 12px; padding-left: 20px }
.multiselect__option--highlight { background: #2fa4e7; outline: none; color: #fff }
.multiselect__option--highlight:after { content: attr(data-select); background: #2fa4e7; color: #fff }
.multiselect__option--selected { background: #f3f3f3; color: #35495e; font-weight: 700 }
.multiselect__option--selected:after { content: attr(data-selected); color: silver }
.multiselect__option--selected.multiselect__option--highlight { background: #2fa4e7; color: #fff }
.multiselect__option--selected.multiselect__option--highlight:after { background: #2fa4e7; content: attr(data-deselect); color: #fff }
.multiselect--disabled { background: #ededed; pointer-events: none }
.multiselect--disabled .multiselect__current, .multiselect--disabled .multiselect__select, .multiselect__option--disabled { background: #ededed; color: #a6a6a6 }
.multiselect__option--disabled { cursor: text; pointer-events: none }
.multiselect__option--disabled.multiselect__option--highlight { background: #dedede !important }
.multiselect-enter-active, .multiselect-leave-active { transition: all .15s ease }
.multiselect-enter, .multiselect-leave-active { opacity: 0 }
.multiselect__strong { margin-bottom: 8px; line-height: 20px; display: inline-block; vertical-align: top }
[dir=rtl] .multiselect { text-align: right }
[dir=rtl] .multiselect__select { right: auto; left: 1px }
[dir=rtl] .multiselect__tags { padding: 8px 8px 0 40px }
[dir=rtl] .multiselect__content { text-align: right }
[dir=rtl] .multiselect__option:after { right: auto; left: 0 }
[dir=rtl] .multiselect__clear { right: auto; left: 12px }
[dir=rtl] .multiselect__spinner { right: auto; left: 1px }
@keyframes a {
	0% { transform: rotate(0) }
	to { transform: rotate(2turn) }
}
body,label,input,button,select,textarea,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,em,i,a,span{ padding: 0; margin: 0; }
body,label,input,button,select,textarea,
.uneditable-input,.navbar-search .search-query {font-family:Helvetica, Georgia, Arial, sans-serif, 宋体;font-size:13px;_font-size:12px;}
.width110{ width: 110px; }
.width100{ width: 100px; }
.width170{ width: 170px; }
.width180{ width: 180px; }
.width150{ width: 150px; }
.width200{ width: 200px; }
.width240{ width: 240px; }
.width60{width: 60px;}
.width90{width: 90px;}
.table th, .table td{ font-size: 13px; }
.act-top { height: 38px; overflow: hidden }
.act-top .overview, .overview { overflow: visible }
.nav li .comebacka:hover{ background-color: transparent; border:1px solid transparent; text-decoration: underline; }
.redword { color: #f20 }
.clearboth { clear: both }
.clearboth:after { content: ""; display: block; clear: both }
.add-store { overflow: visible }
.act-top-right, .add-store { right: 10px; top: 0; height: 38px; line-height: 38px }
.act-top-left { left: 15px; top: 0; height: 38px; line-height: 38px }
.act-top-left a, .act-top-right a { display: inline-block; margin-right: 25px }
.add-store .dropdown-menu { left: -30px }
.padding10 { padding: 10px }
.marginbottom10{ margin-bottom: 10px;}
.border-wrap { border: 1px solid #dfdfdf; border-radius: 5px }
.border-wrap:after { content: ""; display: block; clear: both }
.margin-bottom-10 { margin-bottom: 10px }
.blockquote { margin-left: 10px; margin-top: 15px }
.multiselect.form-multiselect{ display: inline-block; }
.multiselect .multiselect__option--selected{ background-color: #ff6a6a; color: #fefefe; font-weight: normal;}
.form-wrapper ul, .form-wrapper ul li{ list-style: none; }
.form-wrapper .ul-form > li{ float: left; list-style: none;height: 35px;line-height: 35px; margin-bottom: 5px;}
.form-wrapper .ul-form > li > .multiselect{ width: auto; }
.form-wrapper .ul-form > li > label{ min-width: 50px; text-align: left; margin-left: 15px; }
.form-wrapper .ul-form > li > .checked-time,.form-wrapper .ul-form > li > .multiselect{z-index: inherit;}
.form-wrapper .ul-form > li input[type="text"]{ height: auto; margin-bottom: 5px; width: 170px;}
.form-wrapper .ul-form > li.btns{ margin-left: 10px; }
.statistics-box{ width: 100%; overflow: auto; }
.statistics-table #contentTable thead tr th{ height: 30px; line-height: 28px;vertical-align: middle; padding: 5px 0px; font-weight: normal;}
.statistics-table #contentTable thead tr th .title{ padding: 0px 6px; border-bottom: #ccc 1px solid; text-align: center;}
.thselect{ margin: 5px 6px 0px 6px; }
.statistics-table #contentTable thead tr th .th{ padding: 0px 6px; }
.statistics-table #contentTable thead tr th .multiselect__tags .multiselect__single{ display: none; }
.multiselect__tags .multiselect__single .multiselect__tag{ font-weight: normal; }
.odt .multiselect__tags .multiselect__tags-wrap{ width: 136px; display: inline-block; overflow: hidden; }
.odt .multiselect__tags .multiselect__tags-wrap .multiselect__tag{ margin-bottom: 0px; margin-top: 3px; }
.odt .multiselect__option--selected,
.odt .multiselect__content-wrapper{ width: 167px; overflow-x: hidden; overflow-y: auto; text-overflow: ellipsis; white-space: nowrap}
.form-wrapper .ul-form > li .statistics-input.Wdate{ width: 150px; }
.statistics-table #contentTable tbody tr td div{ overflow: hidden;text-overflow: ellipsis;word-break: keep-all;white-space:nowrap;}
.statistics-table #contentTable thead tr th .title,
.statistics-table #contentTable thead tr th .th{ overflow: hidden;text-overflow: ellipsis;word-break: keep-all;white-space:nowrap;text-align: center; }
.nw .odt .multiselect__tags .multiselect__tags-wrap{ width: 167px; }
.nw .odt .multiselect__content-wrapper{ width: 197px;}
.nw .odt .multiselect__option--selected,
.nw .odt .multiselect__content-wrapper{
	width: 197px;
}
#contentTable .isFilter{ color:#2fa4e7; }
#contentTable .icon-filter{ display: none; }
#contentTable .isFilter .icon-filter{ display: inline-block; }
.multiselect{z-index:2;}.multiselect__content-wrapper{z-index: 9999 !important;}
.red{ color: #f33 }.fl-left[data-v-c311be88]{float:left}.fl-right[data-v-c311be88]{float:right}.clearfix[data-v-c311be88]:after{content:"";display:block;clear:both;visibility:hidden;height:0}.checked-time[data-v-c311be88]{position:relative;width:220px;height:28px;line-height:31px;border:1px solid #d7d7d7;border-radius:5px;font-size:13px;cursor:pointer;z-index:1}.checked-time .show-time[data-v-c311be88]{box-sizing:border-box;position:absolute;z-index:100;width:100%;height:100%;padding:0 17px 0 10px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}.checked-time .show-time.col-gay[data-v-c311be88]{color:#555}.checked-time .trangle[data-v-c311be88]{position:absolute;top:13px;right:10px;border-left:3px solid transparent;border-right:3px solid transparent;border-top:6px solid #555}.checked-time .select-box[data-v-c311be88]{position:absolute;top:29px;left:0;width:100%;height:-webkit-max-content;height:-moz-max-content;height:max-content;padding-top:10px;padding-bottom:10px;border:1px solid #d7d7d7;background-color:#fff;z-index:500}.checked-time .select-box .select-list[data-v-c311be88]{margin:0;padding:0;box-sizing:border-box;list-style:none;max-height:260px;overflow-y:auto;width:100%}.checked-time .select-box .select-list[data-v-c311be88]:after{content:"";display:block;clear:both;visibility:hidden;height:0}.checked-time .select-box .select-list[data-v-c311be88]::-webkit-scrollbar{width:10px;height:50px;background-color:#f5f5f5}.checked-time .select-box .select-list[data-v-c311be88]::-webkit-scrollbar-track{border-radius:5px;background-color:#f5f5f5}.checked-time .select-box .select-list[data-v-c311be88]::-webkit-scrollbar-thumb{border-radius:5px;background-color:#999}.checked-time .select-box .select-list li[data-v-c311be88]{position:relative;box-sizing:border-box;height:30px;margin:5px 0;padding-left:15px;padding-top:5px}.checked-time .select-box .select-list li.over-li[data-v-c311be88]{background-color:#fbfbfb}.checked-time .select-box .select-list li input[type=checkbox][data-v-c311be88]{position:absolute;opacity:0}.checked-time .select-box .select-list li input[type=checkbox]+label[data-v-c311be88]{position:relative;width:20px;height:20px;border:1px solid #d7d7d7;border-radius:3px;background-color:#fff;cursor:pointer}.checked-time .select-box .select-list li input[type=checkbox]:checked+label[data-v-c311be88]{background-color:#2fa4e7;border-color:#2fa4e7}.checked-time .select-box .select-list li input[type=checkbox]+label[data-v-c311be88]:after{content:"";position:absolute;width:9px;height:4px;border:0 solid #fff;border-width:0 0 2px 2px;top:6px;left:4px;-webkit-transform:scale(0) rotate(-45deg);transform:scale(0) rotate(-45deg);transition:-webkit-transform .2s linear;transition:transform .2s linear;transition:transform .2s linear,-webkit-transform .2s linear}.checked-time .select-box .select-list li input[type=checkbox]:checked+label[data-v-c311be88]:after{-webkit-transform:scale(1) rotate(-45deg);transform:scale(1) rotate(-45deg)}.checked-time .select-box .select-list li .span-time[data-v-c311be88]{margin-left:10px;line-height:20px}