<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ldap="http://www.springframework.org/schema/ldap"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/ldap http://www.springframework.org/schema/ldap/spring-ldap.xsd">

    <!-- ERP LDAP配置 -->
    <ldap:context-source id="erpContextSource"
                         password="${ldap_admin_password}"
                         url="${ldap_url}"
                         username="${ldap_admin_name}"
                         base="${ldap_base}"/>

    <ldap:ldap-template id="erpLdapTemplate" context-source-ref="erpContextSource"/>

    <!-- 服务商LDAP配置 -->
    <ldap:context-source id="agentContextSource"
                         password="${agent_admin_password}"
                         url="${agent_ldap_url}"
                         username="${agent_ldap_admin_name}"
                         base="${agent_ldap_base}"/>

    <ldap:ldap-template id="agentLdapTemplate" context-source-ref="agentContextSource"/>

</beans>
